{% extends 'base.html.twig' %}

{% block title %}Gestion de l'utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <div class="mt-5">
            {% for user in users %}



                <div class="card p-3">
                    <div class="card-title"></div>
                    <div class="card-body">
                        <div class="text-center user">{{ user.alias }}</div>

                    </div>
                    {% if user.active == true %}
                        <div class="text-center user">
                            Etat :
                            <a href="{{ path('suspend', {'id' : user.id} ) }}"
                               class="text-center badge badge-success switch">actif</a>
                        </div>
                    {% else %}
                        <div class="text-center user">
                            Etat :
                            <a href="{{ path('suspend', {'id' : user.id} ) }}"
                               class="text-center badge badge-danger switch">Inactif</a>
                        </div>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
