{% extends 'base.html.twig ' %}

{% block title %}Exprime toi!{% endblock %}

{% block body %}

    <div class="createModi">
        <h2>Création d'un post</h2>
        <div class="container">
            {{ form_start(formPost) }}

            {% include "reseaus/form.html.twig" %}

            <button type="submit" class="btn btn-success" id="envoi">Ajouter</button>

            {{ form_end(formPost) }}
        </div>
    </div>

{% endblock %}

