{% extends 'base.html.twig '%}

{% block body %}
<br>
<br>
<p></p>
<h2>Création d'une post</h2>

{{ form_start(formPost) }}

        {% include "reseaus/form.html.twig" %}

        <button type="submit" value="Ajouter" class="btn btn-success">Ajouter</button>
    
{{ form_end(formPost)}}

{% endblock %}

