{% extends 'base.html.twig '%}

{% block body %}
<br>
<br>
<p></p>
<h2>Création d'une post</h2>

{{ form_start(formPost) }}

        {% include "reseaus/form.html.twig" %}

        <button type="submit" class="btn btn-success">
                        Ajouter le post
        </button>
    
{{ form_end(formPost)}}

{% endblock %}