{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

{% if age>18 %}
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title font-weight-bold">Coucou!</h2>
        <p>Blablablablablablablablablablablablalblablable</p>
        <p>Blablablablablablablablablablablablalblablable</p>
        <p>blablabblablabla</p> 
    </div>
</div>
{% else %}
  <p>  tu es mineur</p>
{% endif %}



{% endblock %}