{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>


<div class="card mt-5 mb-4">
    <div class="card-body">
        <h2 class="card-title font-weight-bold">Bienvenue dans le Cercle</h2>
        <i class="fas fa-users fa-2x"></i>
        <p>Connectez vous et exprimez vous!</p>
    </div>
</div>




{% endblock %}