{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <div class="card mt-5 mb-4 col-sm-12">
        <div class="card-body ">
            <i class="fas fa-users fa-5x"></i>
            <h2 class="card-title font-weight-bold">Bienvenue dans le Cercle</h2>
            <p>Connectez vous et exprimez vous!</p>
        </div>
    </div>

{% endblock %}