{% extends 'base.html.twig' %}

{% block title %}Hello ReseausController!{% endblock %}

{% block body %}

    <div class="news card">
        <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
        <div class="container text-center">
            <h2> Chapitre 5 : De retour</h2>
            <p class="lead">Article</p>
        </div>
        <h2 class="card-title dateArt metadata">
        <em>le 25/04/2019 à 09h58min59s</em>
        </h2>
    
        <p class="card-text">
        </p><p><span style="font-family: 'Open Sans', Arial, sans-serif; font-size: 24pt; text-align: justify; background-color: #ffffff;"><span style="font-family: georgia, palatino, serif;">L</span><span style="font-size: 12pt;">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&nbsp; test1</span></span></p>   
        <a class="btn btn-primary" href={{ path('comm_show') }}>Lire la suite...</a>
    </div>

    <div class="news card">
        <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
        <div class="container text-center">
            <h2> Chapitre 5 : De retour</h2>
            <p class="lead">Article</p>
        </div>
        <h2 class="card-title dateArt metadata">
        <em>le 25/04/2019 à 09h58min59s</em>
        </h2>
    
        <p class="card-text">
        </p><p><span style="font-family: 'Open Sans', Arial, sans-serif; font-size: 24pt; text-align: justify; background-color: #ffffff;"><span style="font-family: georgia, palatino, serif;">L</span><span style="font-size: 12pt;">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&nbsp; test1</span></span></p>   
        <a class="btn btn-primary" href={{ path('comm_show') }}>Lire la suite...</a>
    </div>

    <div class="news card">
        <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
        <div class="container text-center">
            <h2> Chapitre 5 : De retour</h2>
            <p class="lead">Article</p>
        </div>
        <h2 class="card-title dateArt metadata">
        <em>le 25/04/2019 à 09h58min59s</em>
        </h2>
    
        <p class="card-text">
        </p><p><span style="font-family: 'Open Sans', Arial, sans-serif; font-size: 24pt; text-align: justify; background-color: #ffffff;"><span style="font-family: georgia, palatino, serif;">L</span><span style="font-size: 12pt;">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&nbsp; test1</span></span></p>   
        <a class="btn btn-primary" href={{ path('comm_show') }}>Lire la suite...</a>

    </div>
    
{% endblock %}
